Source: libosmocore
Section: libs
Priority: optional
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               autoconf,
               automake,
               libtool,
               dh-autoreconf,
               libdpkg-perl,
               git,
               doxygen,
               txt2man,
               libpcsclite-dev,
               pkg-config
Standards-Version: 3.9.6
Vcs-Browser: https://github.com/rubund/debian-libosmocore/tree/master
Vcs-Git: git://github.com/rubund/debian-libosmocore.git
Homepage: http://bb.osmocom.org/trac/wiki/libosmocore

Package: libosmocore
Architecture: any
Multi-Arch: same
Depends: libosmocodec0 (= ${binary:Version}),
         libosmocore6 (= ${binary:Version}),
         libosmogb4 (= ${binary:Version}),
         libosmogsm5 (= ${binary:Version}),
         libosmovty2 (= ${binary:Version}),
         libosmoctrl0 (= ${binary:Version}),
         libosmosim0 (= ${binary:Version}),
         ${misc:Depends}
Description: Metapackage for all libraries from libosmocore
 The libraries that are installed when this package is installed contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.

Package: libosmocodec0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Osmo codec library
 This is part of the libosmocore "meta"-library. The libosmocore library contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.
 .
 The libosmocodec library in particular contains ..

Package: libosmocodec-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libosmocodec0
Description: Documentation for the osmo codec library
 This is part of the libosmocore "meta"-library. The libosmocore library contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.
 .
 This package contains the documentation for the libosmocodec library.

Package: libosmocore6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Osmo Core library
 This is part of the libosmocore "meta"-library. The libosmocore library contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.
 .
 The libosmocore6 library in particular contains ..

Package: libosmocore-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libosmocore6
Description: Documentation for the Osmo Core library
 This is part of the libosmocore "meta"-library. The libosmocore library contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.
 .
 This package contains the documentation for the libosmocore library.

Package: libosmogb4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Osmo GPRS GB library
 This is part of the libosmocore "meta"-library. The libosmocore library contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.
 .
 The libosmogb library in particular contains ..

Package: libosmogsm5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Osmo GSM utility library
 This is part of the libosmocore "meta"-library. The libosmocore library contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.
 .
 The libosmogsm library in particular contains ..

Package: libosmogsm-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libosmogsm5
Description: Documentation for the Osmo GSM utility library
 This is part of the libosmocore "meta"-library. The libosmocore library contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.
 .
 This package contains the documentation for the libosmogsm library.

Package: libosmovty2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Osmo VTY library
 This is part of the libosmocore "meta"-library. The libosmocore library contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.
 .
 The libosmovty library in particular contains ..

Package: libosmovty-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libosmovty2
Description: Documentation for the Osmo VTY library
 This is part of the libosmocore "meta"-library. The libosmocore library contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.
 .
 This package contains the documentation for the libosmovty library.

Package: libosmoctrl0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Osmo control library
 This is part of the libosmocore "meta"-library. The libosmocore library contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.
 .
 The libosmoctrl library in particular contains ..

Package: libosmosim0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Osmo SIM library
 This is part of the libosmocore "meta"-library. The libosmocore library contain
 various utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.
 .
 The libosmosim library in particular contains ..

Package: libosmocore-dev
Section: libdevel
Architecture: any
Depends: libosmocodec0 (= ${binary:Version}),
         libosmocore6 (= ${binary:Version}),
         libosmogb4 (= ${binary:Version}),
         libosmogsm5 (= ${binary:Version}),
         libosmovty2 (= ${binary:Version}),
         libosmoctrl0 (= ${binary:Version}),
         libosmosim0 (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Development headers for Open Source MObile COMmunications CORE library
 The headears that are installed with this package may be used to develop
 with any of the libosmocore libraries.
 .
 Also static libraries are installed with this package. 

Package: libosmocore-utils
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libosmocore
Description: Utilities for gsm
 This package contains a program for frequency calculation for GSM called
 'osmo-arfcn' and a program called 'osmo-auc-gen' that is used for testing
 GSM authentication.
 .
 They use the libosmocore library. The libosmocore library contain various
 utility functions that were originally developed as part of the OpenBSC
 project, but which are of a more generic nature and thus useful to (at least)
 other programs that are developed in the sphere of Free Software / Open Source
 mobile communications.  

Package: libosmocore-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libosmocore (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Debug symbols for Open Source MObile COMmunications CORE library
 This contains the debug symbols for all the libraries that are part of
 libosmocore. The libosmocore library contain various utility functions that
 were originally developed as part of the OpenBSC project, but which are of a
 more generic nature and thus useful to (at least) other programs that are 
 developed in the sphere of Free Software / Open Source mobile communications.

