#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEBIAN  := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2)
DEBVERS := $(shell echo '$(DEBIAN)' | cut -d- -f1)
VERSION := $(shell echo '$(DEBVERS)' | sed -e 's/[+-].*//' -e 's/~//g')
CHANGELOG_DATE := $(shell date -d "`dpkg-parsechangelog --show-field Date`" +"%d %B %Y")

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with autoreconf

override_dh_strip:
	dh_strip --dbg-package=libosmocore-dbg

override_dh_install:
	sed -i "/dependency_libs/ s/'.*'/''/" `find . -name '*.la'`
	dh_install
	# Use jquery from libjs-jquery
	rm debian/libosmocore-doc/usr/share/doc/libosmocore/core/html/jquery.js
	rm debian/libosmocodec-doc/usr/share/doc/libosmocore/codec/html/jquery.js
	rm debian/libosmovty-doc/usr/share/doc/libosmocore/vty/html/jquery.js
	rm debian/libosmogsm-doc/usr/share/doc/libosmocore/gsm/html/jquery.js
	ln -sf /usr/share/javascript/jquery/jquery.js debian/libosmocore-doc/usr/share/doc/libosmocore/core/html/jquery.js
	ln -sf /usr/share/javascript/jquery/jquery.js debian/libosmocodec-doc/usr/share/doc/libosmocore/codec/html/jquery.js
	ln -sf /usr/share/javascript/jquery/jquery.js debian/libosmovty-doc/usr/share/doc/libosmocore/vty/html/jquery.js
	ln -sf /usr/share/javascript/jquery/jquery.js debian/libosmogsm-doc/usr/share/doc/libosmocore/gsm/html/jquery.js

# Print test results in case of a failure
override_dh_auto_test:
	dh_auto_test || (find . -name testsuite.log -exec cat {} \; ; false)

override_dh_installman:
	cd debian/man ; CHANGELOG_DATE="$(CHANGELOG_DATE)" ./genmanpages.sh
	dh_installman

override_dh_clean:
	dh_clean
	$(RM) .version
	$(RM) debian/man/osmo-arfcn.1
	$(RM) debian/man/osmo-auc-gen.1
	$(RM) include/osmocom/core/bit16gen.h
	$(RM) include/osmocom/core/bit32gen.h
	$(RM) include/osmocom/core/bit64gen.h
	$(RM) include/osmocom/core/crc16gen.h
	$(RM) include/osmocom/core/crc32gen.h
	$(RM) include/osmocom/core/crc64gen.h
	$(RM) include/osmocom/core/crc8gen.h
	$(RM) src/crc16gen.c
	$(RM) src/crc32gen.c
	$(RM) src/crc64gen.c
	$(RM) src/crc8gen.c
	$(RM) tests/package.m4
	$(RM) tests/testsuite

